/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS 变量 Variables CSS */
:root {

        /* 页首 */
        --header-height: 3.5rem;

        /* 颜色 */      /* Color mode HSL (hue, saturation, lightness) */
        --first-hue: 250;

        --sat: 66%;
        --lig: 75%;

        --second-hue: 219;

        --first-color:          hsl(var(--first-hue), var(--sat), var(--lig));          /* 主色 */
        --first-color-alt:      hsl(var(--first-hue), var(--sat), 71%);                 /* 主色 亮 -4% */

        --title-color:          hsl(var(--second-hue), 15%, 95%);                       /* 标题色 */
        --text-color:           hsl(var(--second-hue), 8%, 75%);                        /* 色 */
        --text-color-light:     hsl(var(--second-hue), 4%, 55%);                        /* 浅色 */
        --body-color:           hsl(var(--second-hue), 48%, 8%);                        /* 色 */
        --container-color:      hsl(var(--second-hue), 32%, 12%);                       /* 容器色 */

        /* 字体大小 */
        --body-font: 'Poppins', sans-serif;

        --biggest-font-size:    1.75rem;                /* h0 */
        --h1-font-size:         1.5rem;                 /* h1 */
        --h2-font-size:         1.25rem;                /* h2 */
        --h3-font-size:         1rem;                   /* h3 */

        --normal-font-size:     .938rem;                /* h-3.8 */

        --small-font-size:      .813rem;                /* h-3.4 */
        --smaller-font-size:    .75rem;                 /* h-4   */
        --tiny-font-size:       .625rem;                /* h-4.5 */

        /* 字体宽度 */
        --font-medium: 500;
        --font-semibold: 600;

        /* z-index */
        --z-tooltip: 10;
        --z-fixed: 100;
        --z-modal: 1000;

}

/* 大尺寸屏幕 */
@media screen and (min-width: 968px) {
        :root {
                --biggest-font-size:    2.5rem;
                --h1-font-size:         2.25rem;
                --h2-font-size:         1.5rem;
                --h3-font-size:         1.25rem;
                --normal-font-size:     1rem;
                --small-font-size:      .875rem;
                --smaller-font-size:    .813rem;
        }
}

/* 通用 */
* {
        box-sizing: border-box;                 /* 添加内边距或边框不会改变元素的总尺寸 */
        padding: 0;
        margin: 0;
}

/* 网页全 */
html {
        scroll-behavior: smooth;                /* 页面的平滑滚动，不用这个页面会直接跳，不好看 */
}

/* 多控件字体设置 */
body,
button,
input,
textarea {
        font-family: var(--body-font);          /* 字体 */
        font-size: var(--normal-font-size);     /* 字号 */
}

/* 网页内容 */
body {
        background-color: var(--body-color);
        color: var(--text-color);
        transition: .4s;        /* 切换主题时使用 */
}

/* 大字 (不是定义了一些字号吗？一会儿会用上) */
h1,
h2,
h3 {
        color: var(--title-color);
        font-weight: var(--font-semibold);
}

/* 无序列表 */
ul {
        list-style: none;               /* 移除列表项前的默认样式，开发者可以更自由地控制<ul>元素的外观 */
}

/* 超链接 */
a {
        text-decoration: none;          /* 删除默认样式，例如下划线 */
}

/* 按钮 */
button {
        cursor: pointer;                /* 鼠标变手指 */
        border: none;                   /* 无边框 */
        outline: none;                  /* 无线 */
}

/* 图片 */
img {
        max-width: 100%;                /* 宽度到父级宽度的 100% */
        height: auto;                   /* 高度自动，保证显示的图片与原图宽高比一致 */
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 容器 */
.container {
        max-width: 968px;
        margin-left: 1rem;
        margin-right: 1rem;
}

/* 网格 */
.grid {
        display: grid;          /* 网格布局 */
        gap: 1.25rem;           /* 间隔 */
}

/* 内容主体 */
.main {
        overflow: hidden;       /* 设置了当内容超出其包含元素的尺寸时，溢出的内容会被剪切 */
}

/* 部分 */
.section {
        padding: 4.5rem 0rem 1rem;
}

/* 每个部分 - 标题 & 副标题 */
.section__title,
.section__subtitle {
        text-align: center;             /* 中心对齐 */
}

/* 每个部分 - 标题 */
.section__title {
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: 2rem;            /* 底部边界 */
}

/* 每个部分 - 副标题 */
.section__subtitle {
        display: block;                         /* 块级元素 */
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* ------ 主题 ------ */
.change-theme {
        font-size: 1.25rem;
        cursor: pointer;
        transition: .3s;
}

/* ------ 主题 - 鼠标放置 ------ */
.change-theme:hover {
        color: var(--first-color);
}

/* ------ 主题 - 亮 ------ */
body.light-theme {
        --title-color:          hsl(var(--second-hue), 15%, 15%);               /* 标题色 */ /* 改最后一个数据(lightness)就成 */
        --text-color:           hsl(var(--second-hue), 8%, 35%);                /* 色 */
        --body-color:           hsl(var(--second-hue), 100%, 99%);              /* 色 */
        --container-color:      #fff;                                         /* 容器色 */
}

/* ------ 主题 - 亮 - 其他调整 - 页首阴影 ------ */
.light-theme .scroll-header {
        box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

/* ------ 主题 - 亮 - 其他调整 - 导航栏底色 ------ */
.light-theme .nav__menu {
        background-color: hsla(var(--second-hue), 32%, 90%, .8);
}

/* ------ 主题 - 亮 - 其他调整 - 副标题字体颜色 ------ */
.light-theme .section__subtitle {
        color: var(--text-color);
}

/* ------ 主题 - 亮 - 其他调整 - 媒体链接 ------ */
.light-theme .home__social-link {
        box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

/* ------ 主题 - 亮 - 其他调整 - 媒体下面的棍 ------ */
.light-theme .home__social::after,
.light-theme .footer__social-link {
        background-color: var(--title-color);
}

/* ------ 主题 - 亮 - 其他调整 - 媒体链接 & 向下滚动 ------ */
.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy {
        color: var(--title-color);
}

/* ------ 主题 - 亮 - 其他调整 - 盒子阴影 ------ */
.light-theme .about__box {
        box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

/* ------ 主题 - 亮 - 其他调整 - 技能页面 ------ */
.light-theme .skills__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card {
        box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

/* ------ 主题 - 亮 - 其他调整 - 滚动条底色 ------ */
.light-theme::-webkit-scrollbar {
        background-color: hsl(var(--second-hue), 8%, 66%);
}

/* ------ 主题 - 亮 - 其他调整 - 滚动条块 ------ */
.light-theme::-webkit-scrollbar-thumb {
        background-color: hsl(var(--second-hue), 8%, 54%);
}

/* ------ 主题 - 亮 - 其他调整 - 滚动条块:鼠标放置 ------ */
.light-theme::-webkit-scrollbar-thumb:hover {
        background-color: hsl(var(--second-hue), 8%, 44%);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 页首 */
.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        z-index: var(--z-fixed);
        transition: .4s;        /* 切换主题时使用 */
}

/* 导航栏 */
.nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
}

/* 导航栏 - Logo */
.nav__logo {
        color: var(--first-color);
        font-weight: var(--font-medium);
        transition: .4s;
}

/* 导航栏 - Logo - 鼠标放置 */
.nav__logo:hover {
        color: var(--first-color-alt);
}

/* 导航栏 - 目录 */
.nav__menu {
        position: fixed;
        bottom: 1rem;
        background-color: hsla(var(--second-hue), 32%, 16%, .8);
        width: 90%;
        border-radius: 4rem;
        padding: 1rem 2.25rem;
        backdrop-filter: blur(10px);
        transition: .4s;                /* 切换主题时使用 */
}

/* 导航栏 - 目录列表 */
.nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

/* 导航栏 - 超链接 */
.nav__link {
        color: var(--text-color);
        font-size: 1.25rem;
        padding: .4rem;                 /* 图标四周填充一些距离 */
        display: flex;
        border-radius: 5rem;
}

/* 导航栏 - 当前(默认)位置 */
.active-link {
        background: linear-gradient(180deg,
                        hsla(var(--first-hue), var(--sat), var(--lig), 1),
                        hsla(var(--first-hue), var(--sat), var(--lig), .2)
        );
        box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
        color: var(--title-color);
}

/* JS 更改背景标题 */
.scroll-header {
        box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);      /* 向下划50px后，头部导航栏底边显示阴影 */
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 主页 - 容器 */
.home__container {
        position: relative;
        row-gap: 4.5rem;
        padding-top: 2rem; 
}

/* 主页 - 文字介绍区 */
.home__data {
        text-align: center;
}

/* 主页 - 部分文字 （问候，教育） */
.home__greeting,
.home__education {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
}

/* 主页 - 问候 */
.home__greeting {
        display: block;
        color: var(--title--color);
        margin-bottom: .25rem;
}

/* 主页 - 教育 */
.home__education {
        color: var(--text--color);
        margin-bottom: 2.5rem;
}

/* 主页 - 名字 */
.home__name {
        font-size: var(--biggest-font-size);
}

/* 主页 - 图片 */
.home__img {
        width: 160px;
}

/* 主页 - 图片框 */
.home__handle {
        justify-self: center;
        width: 190px;
        height: 293px;
        background: linear-gradient(180deg,
                                        hsla(var(--first-hue), var(--sat), var(--lig), 1),
                                        hsla(var(--first-hue), var(--sat), var(--lig), .2)
                                );
        border-radius: 10rem 10rem 1rem 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
}

/* 主页 - 按钮 */
.home__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
}

/* 主页 - 社交 & 向下滚动 */
.home__social,
.home__scroll {
        position: absolute;
}

/* 主页 - 社交 */
.home__social {
        bottom: 5rem;
        left: 0;
        display: grid;
        row-gap: .5rem;
}

/* 主页 - 社交链接 */
.home__social-link {
        width: max-content;
        background-color: var(--container-color);
        color: var(--first-color);
        padding: .25rem;
        border-radius: .25rem;
        display: flex;
        font-size: 1rem;
        transition: .4s;
}
 
/* 主页 - 社交链接 - 鼠标放置 */
.home__social-link:hover {
        background-color: var(--first-color);
        color: #fff;
}

/* 主页 - 社交块下方 单CSS装饰 */
.home__social::after {
        content: '';
        width: 32px;
        height: 2px;
        background-color: var(--first-color);
        transform: rotate(90deg) translate(16px, 5px);  /* rotate(0deg) 旋转，translate(0px, 0px) 移动到合适位置 */
}

/* 主页 - 向下滚动 */
.home__scroll {
        color: var(--first-color);
        right: -1.5rem;
        bottom: 4rem;
        display: grid;
        row-gap: 2.25rem;
        justify-items: center;
}

/* 主页 - 向下图标 */
.home__scroll-icon {
        font-size: 1.25rem;
}

/* 主页 - 向下文字 */
.home__scroll-name {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
}

/* 主页 - 按钮 */
.button {
        display: inline-block;          /* 看过作用了，理解的不彻底。以后多练 */
        background-color: var(--first-color);
        color: var(--body-color);
        padding: .75rem 1rem;
        border-radius: .5rem;
        font-weight: var(--font-medium);
        transition: .4s;
}

/* 主页 - 鼠标放置按钮 */
.button:hover {
        background-color: var(--first-color-alt);
        color: var(--body-color);
}

/* 主页 - 简历下载按钮 */
.button--ghost {
        background-color: transparent;
        border: 2px solid var(--first-color);
        color: var(--first-color);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 介绍 - 容器 */
.about__container {
        row-gap: 2.5rem;
}

/* 介绍 - 图片 */
.about__img {
        background-color: #cfcfcf;
        width: 220px;
        border-radius: 1.5rem;
        justify-self: center;
}

/* 介绍 - 信息 */
.about__data {
        text-align: center;
}

/* 介绍 - 展示栏 */
.about__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);          /* 网格布局，三等分，每份一个fr单位 */
        gap: .5rem;
        margin-bottom: 2rem;
}

/* 介绍 - 展示栏 - 子块 */
.about__box {
        background-color: var(--container-color);
        border-radius: .75rem;
        padding: .75rem .5rem;
}

/* 介绍 - 展示栏 - 图标 */
.about__icon {
        font-size: 1.5rem;
        color: var(--first-color);
        margin-bottom: .5rem;
}

/* 介绍 - 展示栏 - 标题 */
.about__title {
        font-size: var(--small-font-size);
}

/* 介绍 - 展示栏 - 副标题 */
.about__subtitle {
        font-size: var(--tiny-font-size);
}

/* 介绍 - 文字段 */
.about__description {
        margin-bottom: 2rem;
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 技能 - 容器 */
.skills__container {
        row-gap: 2rem;
        padding-top: 1rem;
}

/* 技能 - 内容块 */
.skills__content {
        background-color: var(--container-color);
        padding: 1.5rem;
        border-radius: 1.25rem;
}

/* 技能 - 内容块 - 标题 */
.skills__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--first-color);
        text-align: center;
        margin-bottom: 1.5rem;
}

/* 技能 - 内容块 - 技能块 */
.skills__box {
        display: flex;
        justify-content: center;
        column-gap: 2.5rem;

}

/* 技能 - 内容块 - 技能组 */
.skills__group {
        display: grid;
        align-content: flex-start;
        row-gap: 1rem;
}

/* 技能 - 内容块 - 单个数据盒 */
.skills__data {
        display: flex;
        column-gap: .5rem;
}

/* 技能 - 内容块 - 单个数据盒 - 图标 */
/* .skills, */
.bxs-badge-check {
        font-size: 1rem;
        color: var(--first-color);
}

/* 技能 - 内容块 - 单个数据盒 - 技能名 */
.skills__name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        line-height: 18px;
}

/* 技能 - 内容块 - 单个数据盒 - 技能级别 */
.skills__level {
        font-size: var(--tiny-font-size);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 服务 - 容器 */
.services__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding-top: 1rem;
}

/* 服务 - 卡片 */
.services__card {
        background-color: var(--container-color);
        padding: 3rem 1.5rem;
        border-radius: 1rem;
}

/* 服务 - 标题 */
.services__title {
        font-size: var(--h3-font-size);
        margin-bottom: 2.5rem;
}

/* 服务 - 见详情按钮 */
.services__button {
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
}

/* 服务 - 鼠标放置 见详情按钮 - 图标变化 */
.services__button:hover .services__icon {
        transform: translateX(.25rem);
}

/* 服务 - 图标 */
.services__icon {
        font-size: 1rem;
        transition: .4s;
}

/* 服务 - 详情 */
.services__modal {
        position: fixed;
        inset: 0;
        background-color: hsla(var(--second-hue), 28%, 16%, .7);
        padding: 2rem 1rem;
        display: grid;
        place-items: center;
        visibility: hidden;
        opacity: 0;
        transition: .4s;
        z-index: var(--z-modal);
}

/* 服务 - 详情 - 内容 */
.services__modal-content {
        position: relative;
        background-color: var(--body-color);
        padding: 4.5rem 1.5rem 2.5rem;
        border-radius: 1.5rem;
}

/* 服务 - 详情 - 内容 - 文字（标题 & 详情） */
.services__modal-title,
.services__modal-description {
        text-align: center;
}

/* 服务 - 详情 - 内容 - 标题 */
.services__modal-title {
        font-size: var(--h3-font-size);
        color: var(--first-color);
        margin-bottom: 1rem;
}

/* 服务 - 详情 - 内容 - 详情 */
.services__modal-description {
        font-size: var(--small-font-size);
        margin-bottom: 2rem;
}

/* 服务 - 详情 - 内容 - 详情列表 */
.services__modal-list {
        display: grid;
        row-gap: .75rem;
}

/* 服务 - 详情 - 内容 - 详情列表子项 */
.services__modal-item {
        display: flex;
        align-items: flex-start;        /* 顶部对齐 */
        column-gap: .5rem;
}

/* 服务 - 详情 - 内容 - 详情列表子项 - 文子 */
.services__modal-info {
        font-size: var(--small-font-size);
}

/* 服务 - 详情 - 内容 - 详情列表子项 - 关闭 */
.services__modal-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: var(--first-color);
        cursor: pointer;
}

/* 服务 - 详情 - 显示 - JS联动*/
.active-modal {
        opacity: 1;
        visibility: visible;
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 工作 - 容器 */
.work__container {
        padding-top: 1rem;
}

/* 工作 - 筛选器 */
.work__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .75rem;
        margin-bottom: 2rem;
}

/* 工作 - 筛选器子件 */
.work__item {
        cursor: pointer;
        color: var(--title-color);
        padding: .25rem .75rem;
        font-weight: var(--font-medium);
        border-radius: .5rem;
}

/* 工作 - 项目卡片 */
.work__card {
        background-color: var(--container-color);
        padding: 1rem;
        border-radius: 1rem;
}

/* 工作 - 项目卡片 - 图片 */
.work__img {
        border-radius: 1rem;
        margin-bottom: .75rem;
}

/* 工作 - 项目卡片 - 标题 */
.work__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        margin-bottom: .25rem;
}

/* 工作 - 项目卡片 - 详情按钮 */
.work__button {
        width: max-content;
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: .25rem;
}

/* 工作 - 项目卡片 - 详情按钮 - 鼠标放置，图标动画 */
.work__button:hover .work__icon {
        transform: translateX(.25rem);          /* 位置移动 */
}

/* 工作 - 项目卡片 - 图标 */
.work__icon {
        font-size: 1rem;
        transition: .4s;
}

/* 工作 - 筛选器 - 活动 */
.active-work {
        background-color: var(--first-color);
        color: var(--body-color);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 证言 - 评价卡片 */
.testimonial__card {
        background-color: var(--container-color);
        padding: 1.25rem 1.5rem;
        border-radius: 1.5rem;
        margin-bottom: 3rem;
}

/* 证言 - 评价卡片 - 头像 */
.testimonial__img {
        width: 60px;
        border-radius: 3rem;
        margin-bottom: 1rem;
}

/* 证言 - 评价卡片 - 名字 */
.testimonial__name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        margin-bottom: .25rem;
}

/* 证言 - 评价卡片 - 评价 */
.testimonial__description {
        font-size: var(--small-font-size);
}

/* 未显示子项点 */
.swiper-pagination-bullet {
        background-color: var(--text-color-light);
}

/* 当前子项点 */
.swiper-pagination-bullet-active {
        background-color: var(--first-color);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 联系 - 容器 */
.contact__container {
        row-gap: 3rem;
        padding-bottom: 3rem;
}

/* 联系 - 容器 - 标题 */
.contact__title {
        text-align: center;
        font-size: var(--h3-font-size);
        margin-bottom: 1.5rem;
}

/* 联系 - 容器 - 众信息 */
.contact__info {
        display: grid;
        gap: 1rem;
}

/* 联系 - 容器 - 卡片 */
.contact__card {
        background-color: var(--container-color);
        padding: 1rem;
        border-radius: .75rem;
        text-align: center;
}

/* 联系 - 容器 - 卡片 - 图片 */
.contact__card-icon {
        font-size: 2rem;
        color: var(--title-color);
        margin-bottom: .25rem;
}

/* 联系 - 容器 - 卡片 - 文字 */
.contact__card-title,
.contact__card-data {
        font-size: var(--small-font-size);
}

/* 联系 - 容器 - 卡片 - 标题 */
.contact__card-title {
        font-weight: var(--font-medium);
}

/* 联系 - 容器 - 卡片 - 链接 */
.contact__card-data {
        display: block;                 /* 一整块 */
        margin-bottom: .75rem;
}

/* 联系 - 容器 - 卡片 - 按钮 */
.contact__button {
        color: var(--first-color);
        font-size: var(--small-font-size);
        display: flex;                  /* 一块里面各个组件可控 */
        align-items: center;
        justify-content: center;
        column-gap: .25rem;
}

/* 联系 - 鼠标放置，动画效果 */
.contact__button:hover .contact__button-icon {
        transform: translateX(.25rem);
}

/* 联系 - 容器 - 卡片 - 按钮 - 图标 */
.contact__button-icon {
        font-size: 1rem;
        transition: .4s;
}

/* 联系 - 容器 - 表单 */
.contact__form-div {
        position: relative;
        margin-bottom: 2rem;
        height: 4rem;
}

/* 联系 - 容器 - 表单 - 输入框 */
.contact__form-input {
        position: absolute;     /* 绝对 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid var(--text-color-light);
        background: none;
        color: var(--text-color);
        outline: none;
        padding: 1.5rem;
        border-radius: .75rem;
        z-index: 1;             /* 确定为底层，保证提示文字在其上面 */
}

/* 联系 - 容器 - 表单 - 输入框 - 提示 */
.contact__form-tag {
        position: absolute;     /* 绝对 */
        top: -.75rem;
        left: 1.25rem;
        font-size: var(--smaller-font-size);
        padding: .25rem;
        background-color: var(--body-color);
        z-index: 10;             /* 在输入框上面覆盖，数字比 1 大就行，2 都行 */
}

/* 联系 - 容器 - 表单 - 大文本输入框 */
.contact__from-area {
        height: 11rem;
}

/* 文本框锁定 */
.contact__from-area textarea {
        resize: none;
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 页脚 */
.footer {
        background-color: var(--first-color);
}

/* 页脚 - 容器 */
.footer__container {
        padding: 2rem 0rem 6rem;
}

/* 页脚 - 标题 & 链接 */
.footer__title,
.footer__link {
        color: var(--body-color);
}

/* 页脚 - 标题 */
.footer__title {
        text-align: center;
        margin-bottom: 2rem;
}

/* 页脚 - 列表 */
.footer__list {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        margin-bottom: 2rem;
}

/* 页脚 - 社交 */
.footer__social {
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
}

/* 页脚 - 社交链接 */
.footer__social-link {
        background-color: var(--body-color);
        color: var(--first-color);
        padding: .25rem;
        border-radius: .25rem;
        font-size: 1rem;
        display: inline-flex;
}

/* 页脚 - 标识 */
.footer__copy {
        display: block;
        margin-top: 4.5rem;
        color: var(--container-color);
        text-align: center;
        font-size: var(--smaller-font-size);
}

/* 滚动条 - 底 */
::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(var(--second-hue), 8%, 38%);
}

/* 滚动条 - 块 */
::-webkit-scrollbar-thumb {
        background-color: hsl(var(--second-hue), 8%, 26%);
        border-radius: .5rem;
}

/* 滚动条 - 块 - 鼠标放置 */
::-webkit-scrollbar-thumb:hover {
        background-color: hsl(var(--second-hue), 8%, 20%);
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 小屏幕 */
@media screen and (max-width: 320px) {
        .nav__menu {
                padding: 1rem, 1.5rem;
        }

        .home__buttons {
                flex-direction: column;
        }

        .home__handle {
                width: 150px;
                height: 253px;
        }

        .home__img {
                width: 150px;
        }

        .about__info {
                grid-template-columns: repeat(2, 1fr);
        }

        .skills__box {
                column-gap: 1rem;
        }

        .skills__name {
                font-size: var(--small-font-size);
        }

        .services__container  {
                grid-template-columns: 145px;
                justify-content: center;
        }

        .work__item {
                font-size: var(--small-font-size);
        }

        .work__filters {
                column-gap: .25rem;
        }
}

/* 中小屏幕 */
@media screen and (min-width: 576px) {
        .nav__menu {
                width: 328px;
                left: 0;
                right: 0;
                margin: 0 auto;
        }

        .about__info {
                grid-template-columns: repeat(3, 140px);
                justify-content: center;
        }

        .about__description {
                padding: 0 5rem;
        }

        .skills__container {
                justify-content: center;
        }

        .skills__content {
                padding: 2rem 4rem;
        }

        .services__container {
                grid-template-columns: repeat(2, 160px);
                justify-content: center;
        }

        .services__modal-content {
                width: 500px;
                padding: 4.5rem 2.5rem 2.5rem;
        }

        .services__modal-description {
                padding: 0 3.5rem;
        }

        .work__container {
                justify-content: center;
        }

        .work__img {
                width: 295px;
        }

        .contact__info {
                grid-template-columns: 300px;
                justify-content: center;
        }

        .contact__form {
                width: 360px;
                margin: 0 auto;
        }
}

/* 中大屏幕 */
@media screen and (min-width: 767px) {
        .work__container {
                grid-template-columns: repeat(2, max-content);
        }

        .contact__container {
                grid-template-columns: repeat(2, max-content);
                justify-content: center;
                column-gap: 3rem;
        }
}

/* 大屏幕 */
@media screen and (min-width: 992px) {
        .container {
                margin-left: auto;
                margin-right: auto;
        }

        .section {
                padding: 6.5rem 0 1rem;
        }

        .section__title {
                margin-bottom: 3.5rem;
        }

        .nav {
                height: calc(var(--header-height) + 1rem);
        }

        .home__handle {
                width: 290px;
                height: 400px;
        }

        .home__img {
                width: 220px;
        }

        .home__social-link {
                padding: .4rem;
                font-size: 1.25rem;
        }

        .home__social::after {
                transform: rotate(90deg) translate(16px, 0);
        }

        .home__scroll-icon {
                font-size: 2rem;
        }

        .about__container {
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                column-gap: 4rem;
        }

        .about__img {
                width: 350px;
        }

        .about__data {
                text-align: initial;
        }

        .about__info {
                justify-content: initial;
        }

        .about__box {
                text-align: center;
                padding: 1rem 1.25rem;
        }

        .about__description {
                padding: 0 4rem 0 0;
                margin-bottom: 2.5rem;
        }

        .skills__container {
                grid-template-columns: repeat(2, 350px);
                column-gap: 3rem;
        }

        .services__container {
                grid-template-columns: repeat(3, 199px);
                column-gap: 3rem;
        }

        .services__card {
                padding: 5rem 2rem 1.5rem;
        }

        .work__container {
                gap: 3rem;
        }

        .work__card {
                padding: 1.25rem;
        }

        .work__img {
                margin-bottom: 1rem;
        }

        .work__title {
                margin-bottom: .5rem;
        }

        .testimonial__container {
                width: 750px;
        }

        .testimonial__card {
                padding: 1.5rem 2rem;
        }

        .contact__container {
                column-gap: 6rem;
        }

        .footer__social-link {
                font-size: 1.25rem;
                padding: .4rem;
                border-radius: .5rem;
        }
}